body
{
	font-family: 'Poppins', sans-serif;
	user-select: none;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  
}

#nav
{
	text-transform: uppercase;
}
nav .logo{
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}nav .logo1{
	background: rgb(14,92,226);
    background: radial-gradient(circle, rgba(14,92,226,1) 49%, rgba(31,35,126,1) 88%);
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}
nav{
  height: 70px;
box-shadow: 0 3px 15px rgba(0,0,0,.4);
  
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
	
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: transparent;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: #f9004d;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid transparent;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid white;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
section{
  background: url(bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 2vh;
}